body {
    padding:5px;
}

.reload {
    position:absolute;
    right:0;
    bottom:0;
}

.camera-area {
    text-align: center;
}

.brightness, .contrast {
    width:100px;
}

.vision-play {
    display:none;
}

.vision-running .vision-play {
    display:inline;
}

.vision-running .vision-stop {
    display:none;
}