body {
    font-size:20px;
}

.card {
    filter: drop-shadow(-3px 3px 3px #ccc);
    margin-bottom:20px;
}

.buttons {
    position:fixed;
    left:5px;
    bottom:5px;
}

.brightness, .contrast, .saturation {
    width:100px;
}

.vision-show-running {
    display:none;
}

.vision-running .vision-show-running {
    display:block;
}

.vision-running .vision-hide-running {
    display:none;
}

.vision-has-no-error {
    display:none;
}

.vision-no-error .vision-has-no-error {
    display:inline;
}

.vision-no-error .vision-has-error {
    display:none;
}

.nav-item {
    background-color:#333;
    margin-right:5px;
}

.nav-link {
    border-radius:5px;
    border:1px solid transparent;
}

.nav-link.active {
    background-color:#444;
    border:1px solid white;
}

.robots-show-warning {
    display:none;
}

.robots-warning .robots-show-warning {
    display:inline;
}

.detection-wrapper {
    min-height:150px;
}